<div class="question-summary">
	<div class="votes-count">
		<div class="count">
			<%= question.votes_count %>
		</div>
		<div>Votes</div>
	</div>
	
	<div class="votes-point <%= question.votes_point >= 0 ? :positive : :negative %>">
		<div class="count">
			<%= question.votes_point %>
		</div>
		<div>Points</div>
	</div>
	
	<div class="answers-count">
		<div class="count">
			<%= question.answers.count %>
		</div>
		<div>Answers</div>
	</div>
	
	<div class="summary">
			<h3><a href="<%= question_path question %>"><%= question.title %></a></h3>
			<div class="created">raised by <%= question.user.email %></div>
	</div>
</div>