<h2><%= @question.title %></h2>
<p class="author">by <%= @question.user.email %>
<p><%= @question.body %></p>

<p class="summary-<%= @question.votes_point >= 0 ? :positive : :negative %>">
	<%= @question.up_votes_count %> up votes, <%= @question.down_votes_count %> down votes, <%= @question.votes_point %> points for this question.
</p>

<div id="actions">
	<% unless user_signed_in? %>
		Please <%= link_to "log in", new_user_session_path %> to vote or answer the question.<br/>
	<% else %>
  	<% if current_user == @question.user %>
  		<%= link_to "Edit", edit_question_path(@question) %> |
  		<%= link_to "Delete", @question, :confirm => "Are you sure?", :method => :delete %>
  	  | 
  	<% end %>

	  <% voted = current_user.vote_value(@question) %>
		
		<% if voted != :up %>
		  <%= link_to "Vote up", vote_up_question_path(@question) %>
		<% else %>
		  Vote up
		<% end %>
		|
		<% if voted != :down %>
		  <%= link_to "Vote down", vote_down_question_path(@question) %>
		<% else %>
		  Vote down
		<% end %>

  	<% if voted %>
  	  |
  		<%= link_to "Unvote", unvote_question_path(@question) %>
  	<% end %>
	<% end %>
</div>

<h3>Answers</h3>
<% if @question.answers.count == 0 %>
  There is no answers yet.
<% else %>
  <% @question.answers.order(:votes_point).each do |answer| %>
    <%= render :partial => "answers/answer", :object => answer %>
  <% end %>
<% end %>

<%= form_for [@question, @answer] do |f| -%>
	<% if @answer.errors.any? %>
	  <div class="error_messages">
	      <h2>
	          <%= pluralize(@answer.errors.count, "error") %>
	          prohibited this user from being saved:
	      </h2>
	      <p>There were problems with the following fields</p>
	      <ul>
	          <% @answer.errors.full_messages.each do |error| %>
	            <li><%= error %></li>
	          <% end %>
	      </ul>
	  </div>
	<% end %>

	<div class="form-field">
		<%= f.label :content, "Write your answer" %><br/>
		<%= f.text_area :content %>
	</div>	
	<div class="actions">
		<%= f.submit "Submit", :disable_with => 'Submitting...' %>
	</div>
<% end -%>
