<h2><%= @question.title %></h2>
<p><%= @question.body %></p>

<p id="actions">
	<%= link_to "Vote up", vote_question_path(@question, :up) %> |	
	<%= link_to "Vote down", vote_question_path(@question, :down) %> |
	<%= link_to "Edit", edit_question_path(@question) %> |
	<%= link_to "View all", questions_path %> |
	<%= link_to "Delete", @question, :confirm => "Are you sure?", :method => :delete %>
</p>

<p class="summary"><%= @question.up_votes_count %> up votes, <%= @question.down_votes_count %> down votes, <%= @question.votes_point %> points for this question.</p>