<h2><%= @question.title %></h2>
<p class="author">by <%= link_to @question.user.email, "questions" %>
<p><%= @question.body %></p>

<p class="summary-<%= @question.votes_point >= 0 ? :positive : :negative %>">
	<%= @question.up_votes_count %> up votes, <%= @question.down_votes_count %> down votes, <%= @question.votes_point %> points for this question.
</p>

<div id="actions">
	<% if user_signed_in? %>
		<%- voted = current_user.vote_value(@question) %>
		
		<% if voted %>
			<%= link_to "Unvote", vote_question_path(@question, :unvote)%> | 
			
			<% if voted == :up %>
				Vote up | 
				<%= link_to "Vote down", vote_question_path(@question, :down) %>
			<% else %>
				<%= link_to "Vote up", vote_question_path(@question, :up) %> | 
				Vote down
			<% end %>
		<% else %>
			<%= link_to "Vote up", vote_question_path(@question, :up) %> |	
			<%= link_to "Vote down", vote_question_path(@question, :down) %>
		<% end %>
		
		<% if current_user.id == @question.user.id %>
			 | <%= link_to "Edit", edit_question_path(@question) %> |
			<%= link_to "Delete", @question, :confirm => "Are you sure?", 
					:method => :delete, :remote => :true, :class => 'alert' %>
		<% end %>
	<% else %>
		Please <%= link_to "log in", new_user_session_path %> to vote or write comment.<br/>
	<% end %>
</div>

<h3>Comments</h3>
