<h2><%= @question.title %></h2>
<p class="author">by <%= link_to @question.user.email, "questions" %>
<p><%= @question.body %></p>

<p class="summary-<%= @question.votes_point >= 0 ? :positive : :negative %>">
	<%= @question.up_votes_count %> up votes, <%= @question.down_votes_count %> down votes, <%= @question.votes_point %> points for this question.
</p>

<div id="actions">
	<% if user_signed_in? %>
		<%- voted = current_user.vote_value(@question) %>
		
		<% if voted %>
			<%= link_to "Unvote", vote_question_path(@question, :unvote)%> | 
			
			<% if voted == :up %>
				Vote up | 
				<%= link_to "Vote down", vote_question_path(@question, :down) %>
			<% else %>
				<%= link_to "Vote up", vote_question_path(@question, :up) %> | 
				Vote down
			<% end %>
		<% else %>
			<%= link_to "Vote up", vote_question_path(@question, :up) %> |	
			<%= link_to "Vote down", vote_question_path(@question, :down) %>
		<% end %>
		
		<% if current_user.id == @question.user.id %>
			 | <%= link_to "Edit", edit_question_path(@question) %> |
			<%= link_to "Delete", @question, :confirm => "Are you sure?", 
					:method => :delete, :remote => :true, :class => 'alert' %>
		<% end %>
	<% else %>
		Please <%= link_to "log in", new_user_session_path %> to vote or answer the question.<br/>
	<% end %>
</div>

<h3>Answers</h3>
<%= render :partial => "answers/answer", :collection => @question.answers %>

<% form_for [@question, @answer] do |f| -%>
	<% if @answer.errors.any? %>
	  <div class="error_messages">
	      <h2>
	          <%= pluralize(@answer.errors.count, "error") %>
	          prohibited this user from being saved:
	      </h2>
	      <p>There were problems with the following fields</p>
	      <ul>
	          <% @answer.errors.full_messages.each do |error| %>
	            <li><%= error %></li>
	          <% end %>
	      </ul>
	  </div>
	<% end %>

	<div class="form-field">
		<%= f.label :content, "Write your answer" %><br/>
		<%= f.text_area :content %>
	</div>	
	<div class="actions">
		<%= f.submit "Submit", :disable_with => 'Submitting...' %>
	</div>
<% end -%>